.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/P1220809.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-image-1 {
  width: 130px;
  height: 130px;
  object-position: 100% 50%;
  background-image: url("images/headshot_edited.jpg");
  background-position: 50% 50%;
  margin: 94px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-1 .u-list-1 {
  width: 194px;
  margin: 2px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 182px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 13px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 13px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 13px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 13px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 131px;
  min-width: 92px;
  margin: 21px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 47px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 14px;
    margin-bottom: 60px;
  }
}